# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build outputs
dist/
build/

# Android
android/

# iOS
ios/

# IDE
.idea/
.vscode/

# Archives
*.zip
*.rar
*.7z

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db